<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skole.s304114mappe2ny">

    <uses-permission android:name ="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name = "android.permission.SEND_SMS"/>
    <uses-permission android:name ="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name = "android.permission.READ_SMS"/>
    <uses-permission android:name = "android.permission.SET_ALARM"/>

    <uses-permission android:name="com.skole.s304114mappe2ny.permission"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <permission android:name="com.skole.s304114mappe2ny.permission"/>

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Fragmenter.NotifikasjonFragment"
            android:screenOrientation="portrait"
            /> <!-- android:theme="@style/AppTheme"> -->
        <!-- <activity android:name=".LeggTilogEndre.EndreBestilling" /> -->
        <activity android:name=".ListViews.SeBestillinger"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeggTilogEndre.RegistrerBestilling"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hovedmenyer.Bestillinger"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeggTilogEndre.EndreVenn"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListViews.SeVenner"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hovedmenyer.Venner"
            android:screenOrientation="portrait"/>
        <activity android:name=".Hovedmenyer.Resturanter"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeggTilogEndre.LeggTilVenn"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeggTilogEndre.EndreResturant"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListViews.SeResturanter"
            android:screenOrientation="portrait"/>
        <activity android:name=".LeggTilogEndre.LeggTilResturant"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragmenter.SeBestillingsInfoFragment"
            android:screenOrientation="portrait"/>


        <service
            android:name=".SettPeriodiskService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MinService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".MinBroadcastReciver">
            <intent-filter>
                <!--FOR Å STARTE BROADCASTRECIVER NÅR APPEN SLÅS PÅ-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <action android:name="com.skole.s304114mappe2ny" />

            </intent-filter>
        </receiver>

        <provider
            android:name="com.skole.s304114mappe2ny.ResturantProvider"
            android:authorities="com.skole.s304114mappe2ny"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.skole.s304114mappe2ny.permission"
            android:writePermission="com.skole.s304114mappe2ny.permission">
        </provider>

        <activity android:name=".Hovedmenyer.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>